<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title>Sumart.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
	<link rel="stylesheet" href="/w/fonts/icomoon/style.css">

	<link rel="stylesheet" href="/w/css/bootstrap.min.css">
	<link rel="stylesheet" href="/w/css/jquery-ui.css">
	<link rel="stylesheet" href="/w/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/w/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/w/css/owl.theme.default.min.css">

	<link rel="stylesheet" href="/w/css/jquery.fancybox.min.css">

	<link rel="stylesheet" href="/w/css/bootstrap-datepicker.css">

	<link rel="stylesheet" href="/w/fonts/flaticon/font/flaticon.css">

	<link rel="stylesheet" href="/w/css/aos.css">
	<link href="/w/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/w/css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close mt-3">
				<span class="icon-close2 js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>



	<div class="header-top bg-light">




		<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

			<div class="container">
				<div class="d-flex align-items-center">

					<div class="mx-auto">
						<nav class="site-navigation position-relative text-right" role="navigation">
							<ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">


								<li class="active"><a href="/" class="nav-link text-left">Home</a></li>


							</ul>                                                                                                                                                                                                                                                                                          </ul>
						</nav>

					</div>

				</div>
			</div>

		</div>

	</div>






	<div class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
					<div class="blog-entry">
						<a href="blog-single.html" class="img-link">
<!--							                        <img src="/w/images/hero_2.jpg" alt="Image" class="img-fluid">-->
						</a>
						<div class="blog-entry-contents">
							<form action="/user/search" method="get">
								<h3><a href="search?district=Sabunchu">Sabunchu</a></h3>
							</form>

						</div>
					</div>
				</div>
				<div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
					<div class="blog-entry">
						<a href="blog-single.html" class="img-link">
<!--							                        <img src="/w/images/hero_2.jpg" alt="Image" class="img-fluid">-->
						</a>
						<div class="blog-entry-contents">
							<h3><a href="search?district=Nerimanov">Nerimanov</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
					<div class="blog-entry">
						<a href="blog-single.html" class="img-link">
<!--							                        <img src="/w/images/hero_2.jpg" alt="Image" class="img-fluid">-->
						</a>
						<div class="blog-entry-contents">
							<h3><a href="search?district=Bileceri">Bileceri</a></h3>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
					<div class="blog-entry">
						<a href="blog-single.html" class="img-link">
<!--							                        <img src="/w/images/hero_2.jpg" alt="Image" class="img-fluid">-->
						</a>
						<div class="blog-entry-contents">
							<h3><a href="search?district=Bineqedi">Bineqedi</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
					<div class="blog-entry">
						<a href="blog-single.html" class="img-link">
<!--							                        <img src="/w/images/hero_2.jpg" alt="Image" class="img-fluid">-->
						</a>
						<div class="blog-entry-contents">
							<h3><a href="search?district=Xetai">Xetai</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
					<div class="blog-entry">
						<a href="blog-single.html" class="img-link">
<!--							                        <img src="/w/images/hero_2.jpg" alt="Image" class="img-fluid">-->
						</a>
						<div class="blog-entry-contents">
							<h3><a href="search?district=Nesimi">Nesimi</a></h3>
						</div>
					</div>
				</div>

			</div>

			<div class="row text-center mt-5">
				<div class="col-12">
<!--					<form  th:action="@{/logout}" method="post">-->
<!--						<input type="submit" value="Sign out"/>-->
<!--					</form>-->
					<a href="#" class="p-3 d-inline-block">1</a>
					<a href="#" class="p-3 d-inline-block">2</a>
					<span class="p-3 d-inline-block text-black">3</span>
					<a href="#" class="p-3 d-inline-block">4</a>
					<a href="#" class="p-3 d-inline-block">5</a>
				</div>
			</div>
		</div>
	</div>



	<!-- loader -->
	<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

	<script src="/w/js/jquery-3.3.1.min.js"></script>
	<script src="/w/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/w/js/jquery-ui.js"></script>
	<script src="/w/js/popper.min.js"></script>
	<script src="/w/js/bootstrap.min.js"></script>
	<script src="/w/js/owl.carousel.min.js"></script>
	<script src="/w/js/jquery.stellar.min.js"></script>
	<script src="/w/js/jquery.countdown.min.js"></script>
	<script src="/w/js/bootstrap-datepicker.min.js"></script>
	<script src="/w/js/jquery.easing.1.3.js"></script>
	<script src="/w/js/aos.js"></script>
	<script src="/w/js/jquery.fancybox.min.js"></script>
	<script src="/w/js/jquery.sticky.js"></script>
	<script src="/w/js/jquery.mb.YTPlayer.min.js"></script>




	<script src="/w/js/main.js"></script>

</body>

</html>